<html>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <head><title> Python Project </title>
        <script type="text/javascript" src="static/js/app.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/app.css" />
    </head>
    <body>
        <div id="div_main">
            Hello I'm {{state}} {{state}}
            <br />
            <form action="#" method="post" accept-charset="utf-8">
                <label for="User Name:">User Name:</label><br />
                <input type="text" name="User Name:" value="" id="User Name:"/> <br>
                <label for="Address:">Address:</label><br />
                <input type="text" name="Address:" value="" id="Address:"><br />
                <label for="Phone:">Phone:</label><br />
                <input type="text" name="Phone:" value="" id="Phone:"/><br />
                <label for="Email:">Email:</label><br />
                <input type="text" name="Email:" value="" id="Email:"/><br />


            <p><input id='btnSubmit' type="submit" value="SAVE &rarr;"/></p>
            </form>
            <table border="1">
                <tr>
                    <th>Nombre</th><th>Direcci&oacute;n</th><th>Tel&eacute;fono</th><th>Usuario</th>
                </tr>
            </table>
        </div>
        <label for="object" id='status'>...</label>
    </body>
</html>
