<html>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <head><title> Python Project </title>
        <script type="text/javascript" src="static/js/app.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/app.css" />
    </head>
    <body>
        <div id="div_main">
            <h1>Hello I'm Tornado/PostgreSQL realtime App and I'm {{state}} {{date}}</h1>
            <hr/>
            <form action="#" method="post" accept-charset="utf-8">
                <table align='center'>
                    <tr>
                        <td><label for="User Name:">User Name:</label></td>
                        <td><input type="text" name="User Name:" value="" id="User Name:"/></td>
                    </tr>
                    <tr>
                        <td><label for="Address:">Address:</label></td>
                        <td><input type="text" name="Address:" value="" id="Address:"></td>
                    </tr>
                    <tr>
                        <td><label for="Phone:">Phone:</label></td>
                        <td><input type="text" name="Phone:" value="" id="Phone:"/></td>
                    </tr>
                    <tr>
                        <td><label for="Email:">Email:</label></td>
                        <td><input type="text" name="Email:" value="" id="Email:"/></td>
                    </tr>
                </table>
                <input type="hidden" id="id"/>

            <p><input id='btnSubmit' type="submit" value="SAVE &rarr;"/>
            <input id='btnUpdate' type="submit" value="UPDATE &rarr;"/></p>
            </form>
            <div id="div_actions">
                <input type="button" name="btnLoadData" id="btnLoadData" value="LOAD DATA">
                <input type="button" name="btnListUsers" id="btnListUsers" value="LIST USERS">
                <input type="button" name="btnListFiles" id="btnListFiles" value="LIST FILES">
            </div>
            <div id='divDataContainners'>
                <div id='divUsers'>
                     <table border="1" id='tblBase'>
                        <thead id='tblBaseHead'>
                            <tr>
                                <th>id</th><th>Nombre</th><th>Direcci&oacute;n</th><th>Tel&eacute;fono</th><th>Usuario</th><th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id='tblBaseBody'>
                        </tbody>
                    </table>
                </div>
                <div id='divFiles'>
                    <table border="1" id='tblFiles'>
                        <thead id='tblFilesHead'>
                            <tr>
                                <th>Nro</th><th>Nombre</th><th>Tama&ntilde;o</th><th>Modificaci&oacute;n</th>
                            </tr>
                        </thead>
                        <tbody id='tblFilesBody'>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <label for="object" id='status'>...</label>
    </body>
</html>
